<div class="app">
  <div class="container" data-bind="shown: shown">
    <div class="alert alert-danger" data-bind="visible: gitVersionErrorVisible">
      <span data-bind="text: gitVersionError"></span>
      <button type="button" class="close" data-bind="click: dismissGitVersionError">&times;</button>
    </div>

  </div>

  <!-- ko if: content -->
  <div class="container-fluid" data-bind="component: content"></div>
  <!-- /ko -->
</div>

<!-- ko if: modal -->
<!-- ko template: { name: templateChooser, data: modal } -->
<!-- /ko -->
<!-- /ko -->
